[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.1"
gunicorn = "*"
django = "==4.1.4"
werkzeug = "==2.1.1"
click = "==8.1.2"
markupsafe = "==2.1.1"
itsdangerous = "==2.1.2"
psycopg2 = "*"
setuptools = "==62.0.0"
pillow = "==9.3.0"
jinja2 = "==3.1.1"
calculation = "*"
django-crispy-forms = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-entangled = "*"
django-jsonform = "*"
qrcode = "*"
channels = "*"
python-dotenv = "*"
whitenoise = "*"
boto3 = "*"
django-storages = "*"
stripe = "*"
django-countries = "*"
django-allauth = "*"
rave-python = "*"
dj-database-url = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
redis = "*"
pypaystack = "*"
python-flutterwave = "*"
paystackapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
