{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<div class="row">

<div class="col-12 col-lg-6 billing-address-form">

            <form action="{% url 'core:change_password' %}" method="post">
                <h3>Change password form </h3>
                {% csrf_token %}
                <!--Set up alerts to be shown if there is success or failure-->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ form.as_p }}
                <input type="submit" value="Save" class="btn btn-primary mt-3 w-100 mb-3">
              </form>
          </div>
        </div>
  </div>

{% endblock %}}