{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if validlink %}
<div class="container">
<div class="row">

    <div class="col-12 col-lg-6 billing-address-form">
<h1>Set a new password!</h1>
<form method="POST" class="container mt-5">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Change my password</button>
</form>

{% else %}

<p class="container mt-5">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

      </div>
    </div>
  </div>
{% endblock %}