{% load static %}
<!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline rounded" href="{% url 'tacommodity' %}" target="_blank"
         role="button"><p class="orange-text">TA Commodity Producers Co Nigeria Limited</p>
        <i class="fas fa-handshake ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">
    <img src="{% static 'assets/img/farmfresh_logo.jpg' %}" class="rounded img-thumbnail">
    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://facebook.com/tacommodity" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/farm_own" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://linkedin.com/company/assist-smallholder-farmers/" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>

       <a href="https://instagram.com/tacommodity" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>
    </div>

    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      Copyright © <script>document.write(new Date().getFullYear());</script>:
      <a href="https://app.tacommodity.com" target="_blank"> TA Commodity Producers Co Nigeria Limited </a>
    </div>
    <!--/.Copyright-->

  </footer>