{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-slide" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('{% static 'assets/img/smoked-fish.jpg' %}'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Smoked Catfish</p>
								<h1>Premium Packaged</h1>
								<div class="hero-btns">

								</div>

							</div>
						</div>
                    </div>
                    <div class="col-md-12 col-lg-4 offset-lg-1 offset-xl-0">
                      <a href="https://www.youtube.com/watch?v=sYFQg1s0-AE" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('{% static 'assets/img/bee-keepers.webp' %}'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Palm Plantation Honey</p>
								<h1>100% Natural</h1>
								<div class="hero-btns">

								</div>
							</div>
						</div>
					</div>
                    <div class="col-lg-12 offset-lg-1 offset-xl-0">
                      <a href="https://www.youtube.com/watch?v=kOkE0a0uXr4" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('{% static 'assets/img/palm-oil.webp' %}'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
              <div class="row">

					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh Fruit Bunches</p>
								<h1>Premium processed palm oil</h1>
								<div class="hero-btns">

								</div>
							</div>
						</div>
					</div>
                  <div class="col-lg-12 offset-lg-1 offset-xl-0">
                      <a href="https://www.youtube.com/watch?v=EyWhzWh6Sa8" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>

<section id="main">
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-5 rounded">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Honey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Palm Oil</a>
            </li>

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in object_list %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{{ item.image.url }}" class="card-img-top"
                  alt="">
                  {% if not request.user.is_staff %}
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
                  {% else %}
                  <a href="{% url 'core:update_product' item.id %}">
                  <div class="mask rgba-white-slight"></div>
                      <p>In stock: {{ item.current_stock }}</p>
                </a>
                  {% endif %}
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                  {% if not request.user.is_staff %}
                <a href="{{ item.get_absolute_url }}" class="grey-text">
                  <h5>{{ item.get_category_display}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.item_name }}
                      <span class="badge badge-pill {% if item.get_label_display == 'New' %} danger-color {% else %} primary-color {% endif %}">{{ item.get_label_display }}</span>
                    </a>
                  </strong>
                </h5>
                {% else %}
                   <a href="{% url 'core:update_product' item.id %}" class="grey-text">
                  <h5>{{ item.get_category_display}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{% url 'core:update_product' item.id %}" class="dark-grey-text">{{ item.item_name }}
                      <span class="badge badge-pill {% if item.get_label_display == 'New' %} danger-color {% else %} primary-color {% endif %}">{{ item.get_label_display }}</span>
                    </a>
                  </strong>
                </h5>
                  {% endif %}
                <h4 class="font-weight-bold orange-text" style="color:#051922;">
                    <strong><sup><del style="text-decoration-style: double">N</del></sup>
                  {% if item.discount_price %}
                    {{ item.discount_price }}
                  {% else %}
                    {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          {% endfor %}
         

        </div>
        <!--Grid row-->

      </section>
        {% for item in object_list %}
        {% if item.deal_set.price > 0 %}
        <!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
									{% if item.deal_set.deal %}
                                    <strong>{{ item.deal_set.deal }}%</strong> <br> off per kg
									{% else %}
									<strong>30%</strong> <br> off per kg
									{% endif %}
                                </span>
                            </div>
                        </div>
                    	<img src="{{ item.image.url }}" alt="{{ item }}">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>{{ item.deal_set.title }}</h4>
                    <div class="text">{{ item.deal_set.description }}</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2022/12/31"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="#" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
        {% endif %}
        {% endfor %}
        <!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Same Day Delivery</h3>
							<p>For orders within Port Harcourt and Benin City</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Customer Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Settle disputes and get a refund!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

<!-- latest news -->

        {% if articles.count > 0 %}
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Our</span> News</h3>
						<p>Get the latest on all our products, services and upcoming deals.</p>
					</div>
				</div>
			</div>

			<div class="row">
                {% for article in articles %}
                {% if article.status == 1 %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'core:article_detail' article.slug %}">
                          <div class="latest-news-bg news-bg-1 d-flex justify-content-center">
                            <img src="{{ article.image.url }}" class="rounded">
                          </div>
                        </a>
						<div class="news-text-box">
							<h3><a href="{% url 'core:article_detail' article.slug %}">{{ article.title }}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> {{ article.author.first_name }} {{ article.author.last_name }}</span>
								<span class="date"><i class="fas fa-calendar"></i> posted {{ article.created_on|naturaltime }}</span>
							</p>
							<p class="excerpt">{{ article.post|truncatechars:200 }}</p>
							<a href="{% url 'core:article_detail' article.slug %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
                {% endif %}
                {% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{% url 'core:article_list' %}" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
        {% endif %}
	<!-- end latest news -->
    <!-- end cart banner section -->
      <!--Section: Products v.3-->

      <!--Pagination-->
      <!--nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue"-->

          <!--Arrow left-->
          <!--li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav-->
      <!--Pagination-->


  </section>
  <!--Main layout-->

{% endblock content %}

