{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="background-image: url('{% static 'assets/img/light_bulb.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Organic Information</p>
						<h1>News Articles</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
                {% for article in page_obj %}
                {% if article.status == 1 %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'core:article_detail' article.slug %}"><div class="latest-news-bg news-bg-1 d-flex justify-content-center">
                            <img src="{{ article.image.url }}" class="rounded">
                        </div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'core:article_detail' article.slug %}">{{ article.title }}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> {{ article.author.first_name }} {{ article.author.last_name }}</span>
								<span class="date"><i class="fas fa-calendar"></i> posted {{ article.created_on|naturaltime }}</span>
							</p>
							<p class="excerpt">{{ article.post|truncatechars:200 }}</p>
							<a href="{% url 'core:article_detail' article.slug %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
                {% endif %}
                {% endfor %}
				</div>
			<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
			</div>
			<!--<div class="row">
				<div class="col-lg-12 text-center">
					<a href="#" class="boxed-btn">More News</a>
				</div>
			</div>-->
		</div>
	<!-- end latest news -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

{% endblock %}