{% extends 'base.html' %}

{% block content %}

<div class="container">
<div class="row">

<div class="col-12 col-lg-6 billing-address-form">
    <h2>Publish News Post</h2>
<form method="post" class="container mt-5" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in article_form %}
    <p class="mt-3">
        {{ field }}
    </p>
    {% if field.help_text %}
        <small style="color:grey;">{{ field.help_text }}</small>
        {% endif %}
     {% endfor %}
    {% for field in article_form %}
        {% for error in field.errors %}
            <p style="color:red">{{error}}</p>
        {% endfor %}
    {% endfor %}

    {% if article_form.non_field_errors %}
        <div style="color: red">
            <p>{{ article_form.non_field_errors }}</p>
        </div>
        {% endif %}


    <button type="submit" class="btn btn-primary" >Save Changes</button>
    <a href="/" class="btn btn-success"> HOME</a>

</form>
</div>
    <div class="col-12 col-lg-6 billing-address-form mt-5">
    <hr>
     <div class="image d-flex justify-content-center">
        <img src="{{ article.image.url }}" alt="{{ article.image.url }}" class="img-thumbnail" id="article-img">
    </div>
    <hr>
  </div>
</div>
  </div>
{% endblock %}
