{% extends 'base.html' %}

{% block content %}

<main>
    <div class= "container">
        <div class="table-responsive text-nowrap">
    <h3>
        <strong>Your Cart</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.item_name }}</td>
            <td>
            {% if order_item.item.discount_price %}
                <del>${{ order_item.item.price}}</del> 
                N{{ order_item.item.discount_price }}
            {% else %}
                N{{ order_item.item.price}}
            {% endif %}

            </td>
            <td>
                <a href="{% url 'core:reduce-quantity-item' order_item.item.pk %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.pk %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                N{{ order_item.get_discount_item_price }}
                <span class="badge badge-success" >Saved N{{ order_item.get_amount_saved }}</span>
            {% else %}
                N{{ order_item.get_total_item_price}}
            {% endif %}
             <a href="{% url 'core:remove-from-cart' order_item.item.pk %}">
                <i class="fas fa-trash float-right text-danger"></i>
             </a>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Your Cart Empty</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>

        {% endfor %}

        {% if object.get_total_price %}
        <tr>
            <td colspan="4"><b>Total Order Price</b></td>
            <td>N{{ object.get_total_price }}</td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="{% url 'core:checkout' %}" class="btn btn-warning float-right ml-2">Checkout</a>
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>
        
        {% endif %}
        
        </tbody>
    </table>

        </div>
    </div>
</main>

{% endblock content %}

{% block extra_script %}
	<script src="https://checkout.flutterwave.com/v3.js"></script>
	<script>
	  function makePayment() {
	  const rand = Math.random().toString(20).substr(2, 8); // 6de5ccda
		FlutterwaveCheckout({
		  public_key: "FLWPUBK_TEST-40d34d2a9d030a481ae3fb1faae3b9ba-X",
		  tx_ref: "tacommodity-farmfresh-"+rand,
		  amount: 1000,
		  currency: "NGN",
		  payment_options: "card, banktransfer, ussd",
		  redirect_url: "localhost:8000/verify_payment",
		  meta: {
			consumer_id: 1,
			consumer_mac: "92a3-912ba-1192a",
		  },
		  customer: {
			email: "notaigbe@gmail.com",
			phone_number: "08056656774",
			name: "Nathaniel Otaigbe",
		  },
		  customizations: {
			title: "Farmfresh",
			description: "Payment for purchase of goods",
			logo: "https://warm-eyrie-56393.herokuapp.com/static/images/lagos_moe.png",
		  },
		});
	  }
	</script>
{% endblock extra_script %}
