{% extends 'base.html' %}

{% block content %}

<main>
    <div class= "container">
        <div class="table-responsive text-nowrap">
    <h3>
        {% if request.user.is_staff %}
        <strong>Orders</strong>
        {% else %}
        <strong>My Orders</strong>
        {% endif %}
    </h3>

    <div class="table-responsive-sm">
    <table class="table table-light table-striped table-hover table-bordered caption-top table-sm autowidth" id="orders-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% if request.user.is_staff %}
            <th scope="col">Buyer</th>
            {% endif %}
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Order Date</th>
            <th scope="col">Qty</th>
            <th scope="col">Amount</th>
            {% if request.user.is_staff %}
            <th scope="col">Transaction ID</th>
            {% endif %}
            <th scope="col">Payment Status</th>
            <th scope="col">Delivery Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr data-id="{{ order.id }}">
            <th scope="row">{{ forloop.counter }}</th>
            {% if request.user.is_staff %}
            <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
            {% endif %}
            <td>{{ order.checkout_address.street_address }}</td>
            <td>{{ order.checkout_address.phone }}</td>
            <td>{{ order.ordered_date }}</td>
            <td>
                {% for item in order.items.all %}
                {{ item }}<br>
                {% endfor %}
            </td>
            <td>
            {% if order.item.discount_price %}
                <del>N{{ order.get_total_price }}</del>
                N{{ order.item.discount_price }}
            {% else %}
                N{{ order.payment.amount }}
            {% endif %}
            </td>
            {% if request.user.is_staff %}
            <td>{{ order.payment.tx_ref }}</td>
            {% endif %}
            <td>{{ order.payment.pay_status }}</td>
            {% if request.user.is_staff %}
            <td class="w-100">
                {% if order.delivery_status == '1' %}
                <select name="status" id="status" class="form-control required" data-id="{{ order.id }}" style="width:120px">
                    <option value="1">New Order</option>
                    <option value="2">Processing</option>
                    <option value="3">Shipped</option>
                    <option value="4">Delivered</option>
                </select>
                {% elif order.delivery_status == '2' %}
                <select name="status" id="status" class="form-control required" data-id="{{ order.id }}" style="width:120px">
                    <option value="1">New Order</option>
                    <option value="2" selected>Processing</option>
                    <option value="3">Shipped</option>
                    <option value="4">Delivered</option>
                </select>
                {% elif order.delivery_status == '3' %}
                <select name="status" id="status" class="form-control required" data-id="{{ order.id }}" style="width:120px">
                    <option value="1">New Order</option>
                    <option value="2">Processing</option>
                    <option value="3" selected>Shipped</option>
                    <option value="4">Delivered</option>
                </select>
                {% else %}
                <select name="status" id="status" class="form-control required" data-id="{{ order.id }}" style="width:120px">
                    <option value="1">New Order</option>
                    <option value="2">Processing</option>
                    <option value="3">Shipped</option>
                    <option value="4" selected>Delivered</option>
                </select>
                {% endif %}
            </td>
            {% else %}
            <td>{{ order.delivery_status }}</td>
            {% endif %}
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">No Orders</td>
        </tr>

         <!--<tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>-->

        {% endfor %}

        {% if object.get_total_price %}
        <tr>
            <td colspan="4"><b>Total Order Price</b></td>
            <td>N{{ object.get_total_price }}</td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="{% url 'core:checkout' %}" class="btn btn-warning float-right ml-2">Checkout</a>
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>
        
        {% endif %}
        
        </tbody>
    </table>
    </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block extra_script %}

<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script>
    $(document).ready(function() {
        if ({{ request.user.is_staff }} == True){
      setInterval(function() {
        $.get('/latest_orders/', function(data) {
          // update the table with the latest orders
          var tableBody = $('#orders-table tbody');
          tableBody.empty();
          data.forEach(function(order) {

          if (order.delivery_status == 1){
            tableBody.append('<tr><td>' + order.id + '</td><td>' + order.user.first_name + ' ' + order.user.last_name + '</td><td>' + order.checkout_address.street + '</td><td>' + order.checkout_address.phone + '</td><td>' + order.ordered_date + '</td><td>' + order.items + '</td><td>' + order.payment.amount + '</td><td>' + order.payment.tx_ref + '</td><td>' + order.payment.pay_status + '</td><td>' + '<select name="status" id="status" class="form-control required" data-id=' + order.id + ' style="width:120px"><option value="1" selected>New Order</option><option value="2">Processing</option><option value="3">Shipped</option><option value="4">Delivered</option></select>' + '</td></tr>');
            } else if (order.delivery_status == 2){
            tableBody.append('<tr><td>' + order.id + '</td><td>' + order.user.first_name + ' ' + order.user.last_name + '</td><td>' + order.checkout_address.street + '</td><td>' + order.checkout_address.phone + '</td><td>' + order.ordered_date + '</td><td>' + order.items + '</td><td>' + order.payment.amount + '</td><td>' + order.payment.tx_ref + '</td><td>' + order.payment.pay_status + '</td><td>' + '<select name="status" id="status" class="form-control required" data-id=' + order.id + ' style="width:120px"><option value="1">New Order</option><option value="2" selected>Processing</option><option value="3">Shipped</option><option value="4">Delivered</option></select>' + '</td></tr>');
            } else if (order.delivery_status == 3){
            tableBody.append('<tr><td>' + order.id + '</td><td>' + order.user.first_name + ' ' + order.user.last_name + '</td><td>' + order.checkout_address.street + '</td><td>' + order.checkout_address.phone + '</td><td>' + order.ordered_date + '</td><td>' + order.items + '</td><td>' + order.payment.amount + '</td><td>' + order.payment.tx_ref + '</td><td>' + order.payment.pay_status + '</td><td>' + '<select name="status" id="status" class="form-control required" data-id=' + order.id + ' style="width:120px"><option value="1">New Order</option><option value="2">Processing</option><option value="3" selected>Shipped</option><option value="4">Delivered</option></select>' + '</td></tr>');
            } else {
            tableBody.append('<tr><td>' + order.id + '</td><td>' + order.user.first_name + ' ' + order.user.last_name + '</td><td>' + order.checkout_address.street + '</td><td>' + order.checkout_address.phone + '</td><td>' + order.ordered_date + '</td><td>' + order.items + '</td><td>' + order.payment.amount + '</td><td>' + order.payment.tx_ref + '</td><td>' + order.payment.pay_status + '</td><td>' + '<select name="status" id="status" class="form-control required" data-id=' + order.id + ' style="width:120px"><option value="1">New Order</option><option value="2">Processing</option><option value="3">Shipped</option><option value="4" selected>Delivered</option></select>' + '</td></tr>');
            }
          });
        });
      }, 50000); // fetch data every 50 seconds
      }
    });
    </script>
    <script>
      $('body').on('change', 'select', function() {

            var _id = $(this).data("id");
            var status = $(this).val();
              console.log(_id)
              console.log(status)

            $.ajax({
              url: "/update_status/",
              type: "POST",
              data: {
                id: _id,
                status: status,
                csrfmiddlewaretoken: "{{ csrf_token }}"
              },
            });
          });


    </script>
{% endblock extra_script %}
